.modal-overlay{
  position: fixed;
  background-color: aqua;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  background-color: rgb(255, 255, 255);
  z-index: 10001;
  display: block;
  // width: 50%;
  width:fit-content;
  padding: 10px;
  height: 50%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 100%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  border-radius: 5px;

  align-items: center;
}

.modal button{
  // display: ;
  bottom: 0;
  background-color: aqua;
}