<div class="mains">
    <div class="  card-cointainer">
        <div class="box-container">
            <div class="box box1">
                <div class="text" (click)="openModal({ title: 'Add your budget', type: 'budget' })">
                    <h5 class="black">Total Balance</h5>
                    <h6> <i class="bi bi-currency-rupee"></i> 1200 </h6>
                </div>
              
            </div>

            <div class="box box2">
                <div class="text">
                    <h5>Total Expenses</h5>
                    <h6> <i class="bi bi-currency-rupee"></i> {{ totalExpense }} </h6>
                </div>
            </div>

            <div class="box box3">
                <div class="text">
                    <canvas id="MyChart">{{ chart }}</canvas>

                </div>


            </div>

         


        </div>
    </div>
     <div class="  row containers">

        <div class=" column left-column">
            <div class=" report-container">
                <div class="report-header">
                    <h1 class="recent-Articles">Recent Expense</h1>
                    <h4>Total Amount:{{totalRecentExpense}}</h4>
                    <button class="add-button  btn btn-primary"
                        (click)="openModal({ title: 'Add your expence', type: 'expence' })">ADD Expense</button>
                </div>

                <div class="report-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Transaction</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Tag</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of recntExpense">
                                <td>{{item.expenseName}}</td>
                                <td>{{item.expenseCategory}}</td>
                                <td>{{item.expenseAmount}}</td>
                                <td>{{item.expenseDate | date: 'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="  column right-column">
            <div class="card custom-card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title ">Monthly Expenses Breakdown</h5>
                    <div>

                        <div class="progress" style="max-width: 100%">
                          
                            <div *ngFor="let expense of expensesArray">
                                <div class="progress-bar" [style.width]="getExpenseWidth(expense)"
                                    [style.backgroundColor]="getExpenseColor(expense)">
                                </div>
                            </div>
                        </div>
                        <div>

                            <li class="list-group-item list-item" *ngFor="let expense of expensesArray">
                                <span class="dot" [style.backgroundColor]="getExpenseColor(expense)"></span> <span
                                    class="left-value">{{expense.category}}</span> <span class="right-values"><i
                                        class="bi bi-currency-rupee"></i>
                                    ${{expense.categoryTotal}}
                                    <span class="bold">{{expense.categoryPercentage}}%</span></span>
                            </li>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 

</div>

<!-- parent.component.html -->
<!-- <app-custom-modal [modalTitle]="dynamicTitle"></app-custom-modal> -->