/* sidebar.component.css */

.sidebar {
  //width: 250px;
  /* Adjust width as needed */
  background-color: #121028 ;
  /* Bootstrap default background color */
  border-right: 1px solid #dee2e6;
  height: 100%;
  /* Bootstrap default border color */
}

.list-group-item {
  background-color: #f8f9fa;
  /* Bootstrap default background color */
  border: none;
  /* Remove default list-group-item border */
}

.list-group-item.active {
  background-color:#121028 ;
  /* Bootstrap primary color for active item */
  color: #fff;
  /* Text color for active item */
}
