<div class="login-container">
  <!-- <div class="card photo-container">
            <img src="../../../assets/images/signup-img (1).png" alt="Photo" class="photo">
    
    
        </div> -->
  <div *ngIf="isOtp" class="card form-container">
    <h2>Reset your password</h2>
    <form [formGroup]="passwordResetForm" (ngSubmit)="SendRestpasswordLink()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email" required>
      </div>
      <div class="button-container">
        <button type="button" [routerLink]="['/login']">Cancel</button>
        <button type="submit">Next</button>
      </div>
    </form>
  </div>

  <div *ngIf="!isOtp" class="otp-container">
    <div class="container_heading">

      <h2>Enter OTP</h2>
    </div>
    <div class="otp-containers">
      <input type="text" maxlength="6" [(ngModel)]="otp" (input)="onInput($event)" class="otp-input" #otpInput>
      <div class="otp-boxes">
        <span *ngFor="let char of otpArray">{{ char || ' ' }}</span>
      </div>
      
    </div>
    <div class="button-container">

      <button class="otp_submit-btn" (click)="verifyOtp()">Submit</button>
    </div>
  
  </div>

</div>